<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="filelog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/home/share/log/tomcat/gzh/log.gzh.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) %m%n" />
		</layout>
	</appender>

	<appender name="rootlog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/home/share/log/tomcat/gzh/error.gzh.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="WARN" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) %m%n" />
		</layout>
	</appender>

	<category name="com.zhuermu">
		<priority value="INFO" />
		<appender-ref ref="filelog" />
	</category>
	
	<root>
		<priority value="WARN" />
		<appender-ref ref="rootlog" />
	</root>

</log4j:configuration>